

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding-left: 1rem;
  background-color: #000;
}


.flex-ctr-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #fff;
}

.cards .card {
  cursor: pointer;
  width: calc(95vw / 3);
  height: 150px;
  position: relative;
  margin: 0.25rem;
  border: 3px solid #fff;
  background-color: orange;
  overflow: hidden;
}

.cards .card h3 {
  font-size: 1.15rem;
  padding: 0 1rem;
  transition: opacity 0.2s ease-in-out;
}

.cards .card p {
  position: absolute;
  inset: 0;
  padding: 1rem 1.5rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.cards .card:hover p {
  opacity: 1;
}

.cards .card:hover h3 {
  opacity: 0;
}


.form form {
  width: 100%;
  max-width: 500px;
  color: #fff;
}

.form input[type="text"],
.form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  font-size: 0.95rem;
  font-family: "Poppins", sans-serif;
}

.form input[type="text"]:focus,
.form textarea:focus {
  outline: none;
  border-color: #1e6bd6;
}

.form label {
  display: block;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.form input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1.25rem 0 2rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 3px solid #fff;
  background-color: red;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.1s ease;
}

.form input[type="submit"]:hover {
  opacity: 0.6;
}

.form input[type="submit"]:focus {
  outline: none;
}


.heading {
  color: yellow;
  margin-bottom: 1.25rem;
  line-height: 1.15;
  font-size: 3.5rem;
}
